.air-quality-image {
    width: 4%;
    height: 4%;
    display: inline;
  }
  
  .title {
    display: inline;
    color: #E8BD6c;
  }
  
  hr.rounded {
    border-top: 8px solid #E8BD6c;
    border-radius: 5px;  
    color: #E8BD6c;
  }
  
